:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f2f4f8;
  color-scheme: light dark;
}

:root[data-theme="dark"] {
  background-color: #2e3440;
  color-scheme: dark;
}

/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}
/* 2. Remove default margin */
* {
  margin: 0;
}

body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 5. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
/* 6. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 7. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}
/*
  9. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

/* html, body {
  height: 100%;
  width: 100%;
  overflow: auto;
} */

/* Apply the SF Pro font to the entire body */
body {
  font-family: 'SF-Pro-Rounded', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  scroll-behavior: smooth;
}

/* h1 {
  font-size: 3.2em;
} */

/* button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
} */

@font-face {
  font-family: SF-Pro-Rounded;
  src: url('./assets/fonts/SF-Pro-Rounded-Ultralight.otf') format('opentype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: SF-Pro-Rounded;
  src: url('./assets/fonts/SF-Pro-Rounded-Thin.otf') format('opentype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: SF-Pro-Rounded;
  src: url('./assets/fonts/SF-Pro-Rounded-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: SF-Pro-Rounded;
  src: url('./assets/fonts/SF-Pro-Rounded-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: SF-Pro-Rounded;
  src: url('./assets/fonts/SF-Pro-Rounded-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: SF-Pro-Rounded;
  src: url('./assets/fonts/SF-Pro-Rounded-Semibold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: SF-Pro-Rounded;
  src: url('./assets/fonts/SF-Pro-Rounded-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: SF-Pro-Rounded;
  src: url('./assets/fonts/SF-Pro-Rounded-Heavy.otf') format('opentype');
  font-weight: 800;
  font-style: normal;
}

::-webkit-scrollbar {
  display: none;
}